body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #742305;
}
header{
    box-sizing: content-box;
    width: 100%;
    background-color: #FEF7E2;
}
main{
    margin: 0 20px;
}
ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
li{
    text-align: center;
    flex: 1;
    padding: 1.2em;
    margin: 1em;
    background-color: #FFDF7F;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
li a{
    text-decoration: none;
    color: #742305;
    font-weight: 700;
}

.logo{
    height: auto;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul img{
    width: 30px;
}


h1{
    font-weight: 900;
    padding: 15px;
}
section a{
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: #742305;
}
span{
    width: 100%;
    background-color: #FFDF7F;
    padding: 8px 40px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
h2{
    font-weight: 900;
}
h3{
    font-weight: 800;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    max-width: 230px;
    height: auto;
    background-color: #FEF7E2;
    border-radius: 15%;
}
.card img{
    width: 100%;
    height: auto;
    border-top-right-radius: 17%;
    border-top-left-radius: 17%;
}
.description{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.desPar{
    flex-direction: column;
}
.lastNews{
    display: flex;
    flex-direction: column;
    background-color: #FEF7E2;
    padding: 15px;
}
.lastNews img{
    width: 100%;
}
